# Ignorar todas as imagens nas pastas male e female dentro da pasta data
data/male/*.jpg
data/female/*.jpg

# Ignorar todas as imagens nas pastas male e female dentro da pasta data_crop
crop_data/male/*.jpg
crop_data/female/*.jpg

# Ignorar arquivos temporários do Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/